body {
    background: #081a3a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.card {
    border: 2px solid #00ffcc;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.green {
    border-color: #00ffcc;
}

.red {
    border-color: red;
}